.main-banner
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px
  justify-items: center;
  align-content: center;
  width: 100%
  height: 300px
  grid-column: 1/6
  grid-row: 1/3

.main-banner img
  width: 150px

.banner-title
  display: flex
  justify-content: center
  align-items: center

.banner-bg
  background-repeat: no-repeat
  background-size: cover
  background-position: center

.day
  background-image: url("../assets/images/bogota-d.jpg")

.nigth
  background-image: url("../assets/images/bogota-n.jpg")

.main-banner h1
  color $color-purple-ligth
  font-size: 2em
  text-shadow: 0 0 10px $color-black;

.main-banner span
  font-size: .7em

.container-map
  grid-row: 2

@media screen and (max-width: 768px)
  .banner-title
    grid-column: 3
  
  .container-map
    grid-column: 3
