.visit
  display: grid;
  grid-template-rows: 50px;
  position: relative
  cursor: pointer

.visit-card
  border-radius: $border-radius
  overflow: hidden
  color: $color-white

.visit-card img
  object-fit: cover
  width 100%
  height: 100%


.visit p
  position: absolute
  top 3em
  padding: 20px
  color $color-white

.visit-add
  display: grid;
  grid-template-rows: 80px;
  gap: 20px;

.card1
  background-color: $color-purple-ligth

.card2
  display: grid
  grid-template-columns: 1fr 100px
  background-color: $color-purple-main

.visit-card-plus
  display: flex;
  justify-content: center;
  height: 100%;
  border-radius: 50px;
  align-items: center;
  background-color: $color-purple-ligth
  border-radius: $border-radius
