@import "./_vars.styl"
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap')


*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family 'Roboto', sans-serif

.main
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: 170px 80px 300px;
  margin: 0 auto
  width: 90%
  gap 40px
  
.title
  font-weight: 300

@import "./_banner.styl"

@import "./_forecast.styl"

@import "./_visit.styl"

@import "./_location.styl"

@import "./_temp.styl"



